<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.applepi.ideastation">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="kr.applepi.ideastation.PiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="kr.applepi.ideastation.activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="kr.applepi.ideastation.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="kr.applepi.ideastation.activities.IdeaActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="kr.applepi.ideastation.activities.MandaratActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="kr.applepi.ideastation.activities.VideoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="kr.applepi.ideastation.activities.SearchActivity" />
        <activity
            android:name="kr.applepi.ideastation.activities.ListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="kr.applepi.ideastation.activities.SelectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>